img {
  width: 200px;
}

form {
  align-self: flex-start;
}

.contacts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  /*background-color: gray;*/
}

ul {
  list-style-type: none;
}
li {
  margin-top: 20px;
  width: 30%;
}
