<div class="dashboard">
    <div id="grid1">
        <div class="team">
            <div class="name">{{teamName[0]}}</div>
            <div class="website">{{website[0]}}</div>
            <div class="number">{{phoneNumbers[0]}}</div>
            <div class="image"><img src={{images[0]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[1]}}</div>
            <div class="website">{{website[1]}}</div>
            <div class="number">{{phoneNumbers[1]}}</div>
            <div class="image"><img src={{images[1]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[2]}}</div>
            <div class="website">{{website[2]}}</div>
            <div class="number">{{phoneNumbers[2]}}</div>
            <div class="image"><img src={{images[2]}}></div>
        </div>
    </div>
    <div id="grid2">
        <div class="team">
            <div class="name">{{teamName[3]}}</div>
            <div class="website">{{website[3]}}</div>
            <div class="number">{{phoneNumbers[3]}}</div>
            <div class="image"><img src={{images[3]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[4]}}</div>
            <div class="website">{{website[4]}}</div>
            <div class="number">{{phoneNumbers[4]}}</div>
            <div class="image"><img src={{images[4]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[5]}}</div>
            <div class="website">{{website[5]}}</div>
            <div class="number">{{phoneNumbers[5]}}</div>
            <div class="image"><img src={{images[5]}}></div>
        </div>
    </div>

    <div id="grid3">
        <div class="team">
            <div class="name">{{teamName[1]}}</div>
            <div class="website">{{website[1]}}</div>
            <div class="number">{{phoneNumbers[1]}}</div>
            <div class="image"><img src={{images[1]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[4]}}</div>
            <div class="website">{{website[4]}}</div>
            <div class="number">{{phoneNumbers[4]}}</div>
            <div class="image"><img src={{images[4]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[7]}}</div>
            <div class="website">{{website[7]}}</div>
            <div class="number">{{phoneNumbers[7]}}</div>
            <div class="image"><img src={{images[7]}}></div>
        </div>
    </div>

    <div id="grid4">
        <div class="team">
            <div class="name">{{teamName[6]}}</div>
            <div class="website">{{website[6]}}</div>
            <div class="number">{{phoneNumbers[6]}}</div>
            <div class="image"><img src={{images[6]}}></div>
        </div>
        <div class="team">
            <div class="name">{{teamName[2]}}</div>
            <div class="website">{{website[2]}}</div>
            <div class="number">{{phoneNumbers[2]}}</div>
            <div class="image"><img src={{images[2]}}></div>
        </div>
    </div>
</div>
